
# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
secrets.tf

# Kubernetes / Helm
**/.helm/
**/charts/
**/.kube/config
*.yaml~
*.bak
helm/*.tgz

# System & IDE
.DS_Store
*.swp
*.swo
*.log
Thumbs.db

# Scripts backup
scripts/*.bak

